* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.microsoft {
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

.color {
    height: 90px;
    width: 90px;
    margin: 4px;
}

.color.red {
    background-color: #f25022;
}

.color.green {
    background-color: #7fba00;
}

.color.blue {
    background-color: #00a4ef;
}

.color.yellow {
    background-color: #ffb900;
}

.name {
    margin: 28px;
    font-size: 90px;
    padding: 1px;
}

.name h1{
    margin-top: 18px;
    color: #777;
}
